/* Site Stylesheet
  1. Mobile / Global Styles
  2. Body Styles
  3. Header / Main / Footer Styles
  4. Typography Styles
  5. Image Styles
  6. Section Styles
  7. Footer Styles
  8. Media Queries
======================================== */

/* 1. Mobile / Global Styles
======================================== */
/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
/* Colors */
    --dk-blue: #0F3051;
    --teal: #889A94;
    --red: #F46530;
    --salmon: #FF9E7A;
    --beige: #F5DCC6;

/* Neutrals */
    --lt-gray: #eaeaea;
    --med-gray: #555;
    --dk-gray: #222;

/* Fonts */
    --heading-fonts: "Sansita", Georgia, serif; /* weight: 800, 900, Italic */
    --body-fonts: "Hind", Verdana, sans-serif; /* weight: 300 */

/* Shadows */
    --lg-shadow: -6px 6px 12px var(--med-gray);
    --sm-shadow: -2px 2px 10px var(--med-gray);
}

/* 2. Body Styles
======================================== */
body{
    font-family: var(--body-fonts);
    line-height: 1.15;
    box-sizing: border-box;
    font-size: 1.1rem;
    color: var(--dk-gray);
    background: var(--lt-gray) url("images/white-sand.png");
    background-attachment: fixed;
}

/* Skip Link Styles */
#skip {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
    font-family: var(--body-fonts);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dk-blue);
    outline: 4px solid var(--red);
    background-color: var(--lt-gray);
    outline-offset: 0;
}

/* Hidden Heading Styles */
.sr-only {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* 3. Header / Main / Footer Styles
======================================== */
header, main, footer {
    margin: 0 auto;
}

header, footer {
    padding: 2rem 1rem;
    width: calc(100% - 2rem);
    max-width: calc(1280px - 2rem);
    background-color: var(--beige);
    color: var(--dk-blue);
}

main {
    background-color: var(--lt-gray);
    max-width: 1280px;
    width: 100%;
}

footer {
    background-color: var(--lt-gray);
}

/* Container Styles */
main > section {
    padding: 1rem;
}

/* 4. Typography Styles
======================================== */
p {
    text-align: center;
}

/* Heading Styles */
h1, h2, h3 {
    font-family: var(--heading-fonts);
    font-weight: 900;
    font-style: italic;
}

h1 {
    font-size: 2.5rem;
    margin: 0.5rem 0;

}

h2 {
    font-size: 2rem;
    margin: 0.75rem 0;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
    font-weight: 800;
}

/* Link Styles */
a {
    display: block;
    color: var(--dk-blue);
    padding: 1rem;
    text-decoration-color: var(--teal);
    text-align: center;
    transition: text-decoration-color 500ms;
    border-radius: 5px;
}

a:hover {
    text-decoration-color: var(--red);
}

a:focus {
    outline: 4px solid var(--red);
    outline-offset: 2px;
}

#to-top {
    position: fixed;
    bottom: 10px;
    left: 85%;
    max-width: 45px;
    width: 100%;
    font-size: 0.75rem;
    border: 2px solid var(--dk-gray);
    background-color: var(--dk-blue);
    padding: .5px;
    border-radius: 4px;
    margin-right: 1rem;
    color: var(--lt-gray);
    text-decoration: none;
}

#to-top:hover {
    background-color: var(--red);
}

/* Navigation Styles */
nav a {
    text-decoration: none;
    background-color: var(--teal);
    color: var(--dk-gray);
    margin: 1rem auto;
    font-size: 1.25rem;
    font-weight: 900;
    max-width: calc(225px - 2.5rem);
    border: 4px solid var(--teal);
    transition: all 300ms;
}

nav a:hover {
    background-color: var(--dk-blue);
    color: var(--lt-gray);
}

#header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon:hover {
    cursor: pointer;
    fill: var(--red);
}


/* Text Styles */
p {
    max-width: 65ch;
    margin: 0 auto;
}

.co-name {
    font-family: var(--heading-fonts);
    font-weight: 600;
    font-size: 1.2rem;
}

/* 5. Image Styles
======================================== */
img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: var(--sm-shadow);
    border-radius: 8px;
    max-width: 300px;
    margin: 0 auto;
}

.logo {
    box-shadow: none;
}



/* 6. Section Styles
======================================== */
/* CTA Section */
#cta a {
    text-decoration: none;
    font-size: 1.85rem;
    font-family: var(--heading-fonts);
    font-weight: 600;
    background-color: var(--dk-blue);
    color: var(--lt-gray);
    border: 4px solid var(--dk-blue);
    width: fit-content;
    margin: 1rem auto;
    box-shadow: var(--lg-shadow);
    transition: all 400ms;
}

#cta a:hover {
    background-color: var(--lt-gray);
    color: var(--dk-blue);
    box-shadow: var(--lg-shadow);
}

/* About Section */
#about {
    background-color: var(--teal);
}

#about section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 375px;
    margin: 2rem auto;
}

#about img, #services img {
    order: -1;
    margin-top: 20px;
}

/* Services Section */
.service {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 375px;
    margin: 2rem auto;
}

.service h3 {
    margin-top: 0;
}

.gallery {
    order: -3;
    margin-top: 20px;
}

.gallery > div {
    margin-top: 10px;
    text-align: center;
}

.dot {
    font-size: 2.5rem;
}

.active {
    color: var(--med-gray);
}

.pricing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.pricing a {
    background-color: var(--teal);
    color: var(--lt-gray);
    padding: 10px;
    text-decoration: none;
    transition: all 300ms;
    font-weight: 500;
}

.pricing a:hover {
    background-color: var(--dk-blue);
}

.pricing span {
    font-weight: 700;
    color: var(--dk-blue);
    font-size: 1.25rem;
    font-family: var(--heading-fonts);
}

/* Contact Section */
#contact {
    background-color: var(--beige);
}

#contact-info div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    margin: 2rem auto;
    text-align: center;
    max-width: 300px;
}


/* Form */
form {
    width: 100%;
    max-width: 300px;
    accent-color: var(--salmon);
    margin: 0 auto;
}

form input, form label, form legend {
    display: block;
}

label, legend {
    font-weight: 500;
    margin: 1rem 0 0.25rem 0;
}

.required {
    color: var(--red);
    font-size: 1.25rem;
    font-weight: bold;
}

form input, form textarea {
    font-size: 1.1rem;
    font-family: var(--body-fonts);
    padding: 0 2px;
    width: calc(100% - 6px);
    height: 2.25rem;
    border: 2px solid var(--dk-blue);
    background-color: whitesmoke;
}

fieldset {
    border: 2px solid var(--dk-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

legend {
    padding: 0 0.25rem;
    margin: 1rem 0 0 1rem;
}

input[type="radio"] {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

form textarea {
    resize: none;
    height: 8rem;
}

input[type="submit"] {
    width: 100%;
    margin: 1rem auto;
    cursor: pointer;
    background-color: var(--dk-blue);
    color: var(--lt-gray);
    font-family: var(--body-fonts);
    font-weight: 500;
    font-size: 1.25rem;
    transition: all 500ms;
    border-radius: 5px;
    height: 3rem;
}

input[type="submit"]:hover {
    background-color: var(--teal);
    border-color: var(--teal);

}

/* 7. Footer Styles
======================================== */
footer {
    text-align: center;
}

#connect {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin: 1rem auto;
    width: 275px;
    justify-items: center;
}

footer h2, footer form, footer label, footer .logo, #social {
    grid-column: 1 / -1;
}

footer h2 {
    margin: 0 auto 2rem;
    font-size: 2rem;
    color: var(--dk-gray);
}

footer .logo {
    max-width: 50%;
}

footer label {
    margin-top: 1rem;
    color: var(--dk-gray);
}

footer form {
    accent-color: var(--dk-blue);
}

#social {
    display: flex;
}

footer svg {
    stroke: var(--dk-blue);
    width: 50px;
    height: 50px;
}

footer svg:hover {
    stroke: var(--salmon);
}

#twitter:hover {
    fill: var(--salmon);
}

footer a {
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a:hover {
    background-color: var(--lt-gray);
}

/* 8. Media Queries
======================================== */
@media screen and (min-width: 600px){
    #to-top {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        justify-items: center;
    }

    .sr-only {
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        overflow: visible;
    }

    h1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #header-icons {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    nav {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    nav ul {
        display: flex;
        gap: 2rem;
    }

    nav a {
        width: 150px;
    }

    main img {
        max-width: 580px;
    }

    #about section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
        align-items: center;
        justify-items: center;
        max-width: 550px;
        margin: 2rem auto;
        padding: 0;
        gap: 0.75rem 1rem;
    }

    h3 {
        margin: 0 auto;
    }

    #about section p {
        grid-column: 2 / 3;
    }

    #about section img {
        grid-row: 1 / -1;
        align-self: center;
    }

    .service {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        align-items: center;
        justify-items: center;
        max-width: 590px;
        margin: 2rem auto;
        padding: 0;
        gap: 0 1rem;
    }

    .gallery {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }

    .gallery.even {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
    }

    .pricing a {
        margin: 0 0.5rem;
    }

    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        align-items: center;
        justify-items: center;
        gap: 0 1rem;
        margin: 0 auto;
    }
    
    #contact h2 {
        margin: 0;
    }

    #contact p, #contact-info {
        grid-column: 1 / 2;
    }

    #contact form {
        grid-row: 1 / -1;
        grid-column: 2 / 3;
        max-width: 250px;
    }

    #contact p {
        margin-left: 1.5rem;
    }

    #connect {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 590px;
        gap: 0 1rem;
        margin: 0 auto;
    }

    footer h2 {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    footer p, footer form {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    footer .logo {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        max-width: 250px;
    }

    #social {
        display: flex;
        grid-column: 1 / -1;
    }

    #social svg {
        width: 80%;
        padding: 1rem 0.5rem;
    }

    footer form {
        max-width: 250px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1250px) {
    body {
        background-color: var(--lt-gray);
        background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    }

    header, main, footer {
        box-shadow: var(--lg-shadow);
    }

    header {
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-rows: auto;
    }

    h1 {
        grid-column: 2 / 3;
    }

    #header-icons {
        grid-column: 4 / 5;
        gap: 0;
    }

    nav {
        grid-column: 3 / 4;
        grid-row: 1;
    }

    h2 {
        margin: 2rem;
    }

    #cta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        padding: 6rem 4rem;
        column-gap: 3rem;
        align-items: center;
    }

    #cta p {
        grid-column: 2;
        grid-row: 2;
    }

    #cta img {
        grid-row: 1 / -1;
    }

    #about div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1155px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;

    }
    
    .service {
        max-width: 1000px;
        gap: 0 3rem;
    }

    .service h3 {
        align-self: flex-end;
    }

    .pricing {
        align-self: flex-start;
    }

    #contact form {
        grid-row: 1 / -1;
        grid-column: 2 / 3;
        max-width: 550px;
    }

    #connect {
        max-width: 1250px;
    }

    #subscribe {
        max-width: 375px;
    }

    #social {
        margin: 2rem auto;
    }
}